@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    height: 100vh;
    font-family: "Lato", sans-serif;
}

header {
    background-image: url("https://images.unsplash.com/photo-1501630834273-4b5604d2ee31?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.66);
}

header * {
    z-index: 1;
}

header h1 {
    padding: 0;
    color: #fff;
    margin: 0px 0 50px;
}

form {
    position: relative;
    display: flex;
    align-items: center;
}

form button {
    position: absolute;
    right: 2px;
    border: 0;
    background-color: #6b6363;
    color: #fff;
    padding: 14px 18px;
    border-radius: 50px;
    cursor: pointer;
}

form input {
    padding: 16px 16px;
    width: 400px;
    border-radius: 50px;
    border: 0;
    outline: none;
    font-size: 15px;
}

.weather-container {
    margin: 30px auto;
    max-width: 100%;
    width: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    color: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.45);
    position: relative;
}

.city-name {
    background-color: #24363f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 1px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.city-details {
    background-color: #374d58;
    width: 100%;
    text-align: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 30px 0;
}

.city-details .item {
    margin-bottom: 15px;
}

.city-details div:last-child {
    margin-bottom: 0px;
}

.date-state-container {
    display: flex;
    justify-content: space-between;
    margin: 0 45px;
}

.local-time {
    position: absolute;
    top: 15px;
    left: 25px;
}

.condition {
    position: absolute;
    top: 15px;
    right: 25px;
}
